@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #FFB000;
  --color-background: #121212;
  --color-card: #1C1C1E;
}

@layer base {
  body {
    background-color: #121212;
    color: #ffffff;
  }
}
